<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <h2><%= expense.id %></h2>
      <h2>category: <%= expense.category %></h2>
      <h2>price: <%= expense.price %></h2>
      <h2>importance: <%= expense.importance %></h2>
      <h2>date: <%= expense.date %></h2>
    </div>
  </body>
</html>
